<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE - SERIES - ANIME PREDICTOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>MOVIE - SERIES - ANIME PREDICTOR</h1>
        <form action="/predict" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="category">Category:</label>
            <select id="category" name="category" required>
                <option value="Movie">Movie</option>
                <option value="TV Show">TV Show</option>
                <option value="Anime">Anime</option>
            </select><br><br>
            
            <label for="input1">IMDB Rating (Float):</label><br>
            <input type="text" id="input1" name="input1"><br>
            
            <label for="input2">Rotten Tomatoes Rating (Integer):</label><br>
            <input type="text" id="input2" name="input2"><br><br>
            
            <input type="submit" value="Predict">
        </form>
        <h5>SHAMS TABREZ KHAN</h5>
    </div>
</body>
</html>
